section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
}

.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(130% - 80px);
    background: #dc3545;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.container .contactInfo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.container .contactInfo ul.info {
    position: relative;
    margin: 20px 0;
}

.container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.container .contactInfo ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.container .contactInfo ul.info li span img {
    max-width: 100%;
    filter: invert(1);
}

.container .contactInfo ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.container .contactInfo ul.sci {
    position: relative;
    display: flex;
}

.container .contactInfo ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.container .contactInfo ul.sci li a {
    list-style: none;
}

.container .contactInfo ul.sci li a img {
    filter: invert(1);
}

.container .contactForm {
    position: absolute;
    padding: 70px 70px;
    margin-left: 100px;
    width: calc(100% - 150px);
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.container .contactForm h2 {
    color: #dc3545;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

.container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 0;
    padding-top: 40px;
}

.container .contactForm .formBox .inputBox.w50 {
    width: 47%;
}

.container .contactForm .formBox .inputBox.w100 {
    width: 100%;
}

.container .contactForm .formBox .inputBox input,
.container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.container .contactForm .formBox .inputBox textarea {
    min-height: 120px;
}

.container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.edit {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.container .contactForm .formBox .inputBox input:focus~span,
.container .contactForm .formBox .inputBox input:valid~span,
.container .contactForm .formBox .inputBox textarea:focus~span,
.container .contactForm .formBox .inputBox textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #dc3545;
    font-weight: 500;
}

.container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #dc3545;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    padding-bottom: 15px;
}

.container .contactForm .formBox .inputBox input[type="submit"]:hover {
    background: #dc3545;
    margin: 0 auto !important;
}

@media (max-width: 1200px) {
    .container {
        max-width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }
    .container .contactInfo {
        position: relative;
        top: 0;
        height: 550px;
        box-shadow: none;
    }
    .container .contactForm {
        position: relative;
        width: calc(100% - 350px);
        height: 550px;
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    section {
        background: #fff38e;
    }
    section::before {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .container .contactInfo {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container .contactInfo ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .contactForm {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .container .contactForm {
        height: auto;
        padding: 25px;
    }
    .container .contactForm .formBox .inputBox.w50 {
        width: 100%;
    }
    .container .contactInfo {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
    }
    .container .contactInfo ul.sci {
        margin-top: 40px;
    }
}

.return-back {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
    right: 1200px;
    z-index: 999;
}

.return {
    appearance: none;
    background-color: #dc3545;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    max-height: 40px;
}

input.apple-switch {
    position: relative;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #ffffff;
    transition-duration: 200ms;
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.check {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-bottom: 10px;
}

.check p {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.mini {
    max-height: 800px!important;
}

.redbtn {
    position: relative;
    cursor: pointer;
    background: #dc3545;
    color: #fff;
    border: none;
    width: 150px;
    padding: 12px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center!important;
    margin-top: 10px;
}

.redbtn:hover {
    background: #dc3545;
}

.spacebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}