.right-size {
    display: flex;
    align-items: center;
    justify-content: right!important;
    float: right!important;
}

.navbar-scroll {
    position: fixed!important;
    top: 0%!important;
    right: 0;
    left: 0;
    z-index: 1002!important;
    background-color: #000!important;
    padding: 0px 0;
    z-index: 3000;
    transition: all 0.25s ease;
    box-shadow: 0 0 6px #1f1e1e;
}

.header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 100%;
    background-color: black;
}

.header-inner {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 1002;
    left: 0;
}

.navbar-brand {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: .2rem;
}

.navbar-brand:hover {
    color: #dc3545;
}

.navbar-nav .nav-item {
    position: relative;
}

.nav-item .nav-link {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    padding: 18px 10px;
    transition: 0.4s ease;
}

.nav-link:hover {
    color: #ff0058;
}

.header-btn {
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 8px 17px;
    border-radius: 3px;
    color: #fff;
}

.header-btn:hover {
    border: 1px solid #dc3545;
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
}

@media only screen and (min-width:1200px) {
    .nav-item .nav-link {
        padding: 25px 18px!important;
    }
}

@media only screen and (max-width:992px) {
    .header-inner {
        position: absolute;
        box-shadow: 0 0 6px #c0c0c0;
        width: 100%;
        top: 0!important;
        z-index: 44;
        left: 0;
    }
}

.row-style {
    padding: 5%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    align-items: center;
    background-color: black;
    color: rgb(0, 0, 0);
}

h1 {
    font-weight: normal;
    letter-spacing: .025rem;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

.li-time {
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.li-time span {
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.25rem * var(--smaller));
    }
    .li-time {
        font-size: calc(1.025rem * var(--smaller));
    }
    .li-time span {
        font-size: calc(3.175rem * var(--smaller));
    }
}

.left-con {
    background-color: rgb(255, 255, 255);
    font-size: medium;
    color: black;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 40px;
    padding-top: 5%;
    padding-bottom: 10%;
    border-width: 5px;
    box-shadow: 0 0 1px 1px #88252f;
}

.rtn-con {
    width: 30%;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row {
    display: inline;
    flex-direction: row;
    margin-left: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    background-color: white;
    color: black;
    border-radius: 50px;
    border-color: #dc3545;
    box-shadow: 0 0 1px 1px #9e2a36;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 22%;
    width: 90%;
    text-align: center;
}

.button-style {
    padding: 10px;
    border-radius: 5px;
    border-color: #dc3545;
    background-color: white;
    border-width: 10%;
    color: #66151d;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #dc3545;
    color: white;
}

.butt-join {
    padding: 10px;
    border-radius: 5px;
    border-color: #dc3545;
    background-color: #dc3545;
    border-width: 10%;
    color: white;
}