<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&display=swap" rel="stylesheet">

    <!--owl-carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">


    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/event.css')}}">
    <title>Contact Us</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header" id="header">
            <div class="header-inner" id="header-inner">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg my-navbar py-lg-0 py-sm-0 py-0 px-lg-0">
                        <span></span>
                        <img src="/static/img/logo.svg" alt="" style="width: 50px">
                        <a class="navbar-brand" href="/">Voluntario</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon" data-scroll="out">
                            <div id="nav-icon1">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                          </span>
                        </button>
                        <div class="collapse navbar-collapse mobile-menu d-flex flex-lg-row flex-column flex-xl-row justify-content-lg-end justify-content-md-start right-side" id="navbarSupportedContent">
                            <form class="form-inline my-2 my-lg-0 ml-2 align-self-stretch">
                                <a href="dashboardorg" class="header-btn">Dashboard</a>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="return-back"><input action="action" class="return" onclick="window.history.go(-1); return false;" type="submit" value="&laquo; Previous" /> </div>{% with messages = get_flashed_messages(with_categories=true) %}

    <section>
        <div class="container">
            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            <div>
                {% if message %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- <strong>Title</strong> -->{{ message }}
                </div>
                {% endif %} {% endwith %}
                <div class="contactForm">
                    <form action="{{url_for('postEvent')}}" method="post">
                        <h2>Post an event</h2>
                        <div class="formBox">
                            <div class="inputBox w100">
                                <input type="text" name="title" required>
                                <span>Title</span>
                            </div>
                            <div class="inputBox w50">
                                <label>Category</label> <br>
                                <select name="category" id="category" required>
                                  {% if categories|length > 0 %}
                                  {%for c in categories %}
                              <option value="{{c.category_id}}">{{c.category_name}}</option>
                                  {%endfor%}
                                  {%endif%}
                          </select>
                            </div>
                            <div class="inputBox w50">
                                <label>Number of volunteers</label> <br>
                                <input type="number" name="volnum" required>
                            </div>
                            <div class="inputBox w50">
                                <label>Start Date</label> <br>
                                <input type="datetime-local" name="startDate" required>
                            </div>
                            <div class="inputBox w50">
                                <label>End Date</label> <br>
                                <input type="datetime-local" name="endDate" required>
                            </div>
                            <div class="inputBox w50">
                                <label>Location</label> <br>

                                <div class="input_field select_option">
                                    <select name="location" required>
                    <option>Select an Emirate</option>
                    <option value="Abu Dhabi">Abu Dhabi</option>
                    <option value="Dubai">Dubai</option>
                    <option value="Sharjah">Sharjah</option>
                    <option value="Ajman">Ajman</option>
                    <option value="umm al-quwain">Umm Al-Quwain</option>
                    <option value="Fujairah">Fujairah</option>
                    <option value="Ras Al Khaimah">Ras Al Khaimah</option>
                  </select>
                                    <div class="select_arrow"></div>
                                </div>
                            </div>
                            <div class="inputBox w50">
                                <label>Total hours</label> <br>
                                <input type="number" name="hours" required>
                            </div>
                            <div class="inputBox w100">
                                <textarea name="description" required></textarea>
                                <span>Write a description here...</span>
                            </div>
                            <div class="inputBox w100">
                                <div class="mapContainer" style="padding-top: 40px; padding-bottom: 40px;line-height: 3rem;">
                                    Lat:
                                    <input id="lat" name="lat" val="25.2048" required/>Long:
                                    <input id="long" name="long" val="55.2708" required/>
                                    <br />
                                    <br />
                                    <div id="map_canvas" style="width: 500px; height: 250px;"></div>
                                </div>
                            </div>
                            <div class="spacebtn">
                                <div class="inputBox w100">
                                    <input type="submit" value="Post">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJp-2ci6DPm4ql4Tl9jE7axfkEyb6qFTk&callback=myMap"></script>

    <script src="{{url_for('static', filename='/js/postEvent.js')}}"></script>


    <script>
        $('.slide-one-item-alt').owlCarousel({
            center: false,
            items: 1,
            dots: false,
            loop: true,
            margin: 0,
            smartSpeed: 1000,
            autoplay: true,
            pauseOnHover: true,
            onDragged: function(event) {
                console.log('event : ', event.relatedTarget['_drag']['direction'])
                if (event.relatedTarget['_drag']['direction'] == 'left') {
                    $('.slide-one-item-alt-text').trigger('next.owl.carousel');
                } else {
                    $('.slide-one-item-alt-text').trigger('prev.owl.carousel');
                }
            }
        });


        $('.slide-one-item-alt-text').owlCarousel({
            center: false,
            items: 1,
            dots: false,
            loop: true,
            margin: 0,
            smartSpeed: 1000,
            autoplay: true,
            pauseOnHover: true,
            onDragged: function(event) {
                console.log('event : ', event.relatedTarget['_drag']['direction'])
                if (event.relatedTarget['_drag']['direction'] == 'left') {
                    $('.slide-one-item-alt').trigger('next.owl.carousel');
                } else {
                    $('.slide-one-item-alt').trigger('prev.owl.carousel');
                }
            }
        });




        $('.custom-next').click(function(e) {
            e.preventDefault();
            $('.slide-one-item-alt').trigger('next.owl.carousel');
            $('.slide-one-item-alt-text').trigger('next.owl.carousel');
        });

        $('.custom-prev').click(function(e) {
            e.preventDefault();
            $('.slide-one-item-alt').trigger('prev.owl.carousel');
            $('.slide-one-item-alt-text').trigger('prev.owl.carousel');
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function() {
                $(this).toggleClass('ham-open');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('.navbar-toggler,.overlay').on("click", function() {
                $(".mobile-menu,.overlay").toggleClass('open-nav');
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(window).scrollTop() < 60) {
                    $('.header-inner').removeClass('navbar-scroll');
                } else {
                    $('.header-inner').addClass('navbar-scroll');
                }
            });
        });
    </script>
</body>

</html>